<h1>Editing acq_instance</h1>

<% form_for(@acq_instance) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :ACQ_ID %><br />
    <%= f.text_field :ACQ_ID %>
  </p>
  <p>
    <%= f.label :ACQ_NAME %><br />
    <%= f.text_field :ACQ_NAME %>
  </p>
  <p>
    <%= f.label :ACQ_DESC %><br />
    <%= f.text_area :ACQ_DESC %>
  </p>
  <p>
    <%= f.label :ACQ_DATA %><br />
    <%= f.text_field :ACQ_DATA %>
  </p>
  <p>
    <%= f.label :DATA_SIZE %><br />
    <%= f.text_field :DATA_SIZE %>
  </p>
  <p>
    <%= f.label :LOCATION_ID %><br />
    <%= f.text_field :LOCATION_ID %>
  </p>
  <p>
    <%= f.label :START_DATE %><br />
    <%= f.datetime_select :START_DATE %>
  </p>
  <p>
    <%= f.label :END_DATE %><br />
    <%= f.datetime_select :END_DATE %>
  </p>
  <p>
    <%= f.label :USER_LOGIN_ID %><br />
    <%= f.text_field :USER_LOGIN_ID %>
  </p>
  <p>
    <%= f.label :DESCRIPTION %><br />
    <%= f.text_area :DESCRIPTION %>
  </p>
  <p>
    <%= f.label :TO_DELETE %><br />
    <%= f.text_field :TO_DELETE %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @acq_instance %> |
<%= link_to 'Back', acq_instances_path %>