<h1>Listing acq_instances</h1>

<table>
  <tr>
    <th>Acq id</th>
    <th>Acq name</th>
    <th>Acq desc</th>
    <th>Acq data</th>
    <th>Data size</th>
    <th>Location id</th>
    <th>Start date</th>
    <th>End date</th>
    <th>User login id</th>
    <th>Description</th>
    <th>To delete</th>
  </tr>

<% @acq_instances.each do |acq_instance| %>
  <tr>
    <td><%=h acq_instance.ACQ_ID %></td>
    <td><%=h acq_instance.ACQ_NAME %></td>
    <td><%=h acq_instance.ACQ_DESC %></td>
    <td><%=h acq_instance.ACQ_DATA %></td>
    <td><%=h acq_instance.DATA_SIZE %></td>
    <td><%=h acq_instance.LOCATION_ID %></td>
    <td><%=h acq_instance.START_DATE %></td>
    <td><%=h acq_instance.END_DATE %></td>
    <td><%=h acq_instance.USER_LOGIN_ID %></td>
    <td><%=h acq_instance.DESCRIPTION %></td>
    <td><%=h acq_instance.TO_DELETE %></td>
    <td><%= link_to 'Show', acq_instance %></td>
    <td><%= link_to 'Edit', edit_acq_instance_path(acq_instance) %></td>
    <td><%= link_to 'Destroy', acq_instance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New acq_instance', new_acq_instance_path %>