<p>
  <b>Acq id:</b>
  <%=h @acq_instance.ACQ_ID %>
</p>

<p>
  <b>Acq name:</b>
  <%=h @acq_instance.ACQ_NAME %>
</p>

<p>
  <b>Acq desc:</b>
  <%=h @acq_instance.ACQ_DESC %>
</p>

<p>
  <b>Acq data:</b>
  <%=h @acq_instance.ACQ_DATA %>
</p>

<p>
  <b>Data size:</b>
  <%=h @acq_instance.DATA_SIZE %>
</p>

<p>
  <b>Location id:</b>
  <%=h @acq_instance.LOCATION_ID %>
</p>

<p>
  <b>Start date:</b>
  <%=h @acq_instance.START_DATE %>
</p>

<p>
  <b>End date:</b>
  <%=h @acq_instance.END_DATE %>
</p>

<p>
  <b>User login id:</b>
  <%=h @acq_instance.USER_LOGIN_ID %>
</p>

<p>
  <b>Description:</b>
  <%=h @acq_instance.DESCRIPTION %>
</p>

<p>
  <b>To delete:</b>
  <%=h @acq_instance.TO_DELETE %>
</p>


<%= link_to 'Edit', edit_acq_instance_path(@acq_instance) %> |
<%= link_to 'Back', acq_instances_path %>