<h1>Editing plate_property</h1>

<% form_for(@plate_property) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :PLATE_ID %><br />
    <%= f.text_field :PLATE_ID %>
  </p>
  <p>
    <%= f.label :MDCS5 %><br />
    <%= f.text_field :MDCS5 %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @plate_property %> |
<%= link_to 'Back', plate_properties_path %>