<h1>Listing plate_properties</h1>

<table>
  <tr>
    <th>Plate id</th>
    <th>Mdcs5</th>
  </tr>

<% @plate_properties.each do |plate_property| %>
  <tr>
    <td><%=h plate_property.PLATE_ID %></td>
    <td><%=h plate_property.MDCS5 %></td>
    <td><%= link_to 'Show', plate_property %></td>
    <td><%= link_to 'Edit', edit_plate_property_path(plate_property) %></td>
    <td><%= link_to 'Destroy', plate_property, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New plate_property', new_plate_property_path %>