<p>
  <b>Plate id:</b>
  <%=h @plate_property.PLATE_ID %>
</p>

<p>
  <b>Mdcs5:</b>
  <%=h @plate_property.MDCS5 %>
</p>


<%= link_to 'Edit', edit_plate_property_path(@plate_property) %> |
<%= link_to 'Back', plate_properties_path %>