<h1>Listing users</h1>

<table>
  <tr>
    <th>User login id</th>
    <th>Login</th>
    <th>Descr</th>
    <th>User permissons</th>
    <th>To delete</th>
    <th>Primary group id</th>
    <th>Creator id</th>
    <th>Time created</th>
    <th>Name</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.USER_LOGIN_ID %></td>
    <td><%=h user.LOGIN %></td>
    <td><%=h user.DESCR %></td>
    <td><%=h user.USER_PERMISSIONS %></td>
    <td><%=h user.TO_DELETE %></td>
    <td><%=h user.PRIMARY_GROUP_ID %></td>
    <td><%=h user.CREATOR_ID %></td>
    <td><%=h user.TIME_CREATED %></td>
    <td><%=h user.NAME %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
