<h1>New user</h1>

<% form_for(@user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :USER_LOGIN_ID %><br />
    <%= f.text_field :USER_LOGIN_ID %>
  </p>
  <p>
    <%= f.label :LOGIN %><br />
    <%= f.text_field :LOGIN %>
  </p>
  <p>
    <%= f.label :DESCR %><br />
    <%= f.text_area :DESCR %>
  </p>
  <p>
    <%= f.label :USER_PERMISSIONS %><br />
    <%= f.text_field :USER_PERMISSIONS %>
  </p>
  <p>
    <%= f.label :TO_DELETE %><br />
    <%= f.text_field :TO_DELETE %>
  </p>
  <p>
    <%= f.label :PRIMARY_GROUP_ID %><br />
    <%= f.text_field :PRIMARY_GROUP_ID %>
  </p>
  <p>
    <%= f.label :CREATOR_ID %><br />
    <%= f.text_field :CREATOR_ID %>
  </p>
  <p>
    <%= f.label :TIME_CREATED %><br />
    <%= f.datetime_select :TIME_CREATED %>
  </p>
  <p>
    <%= f.label :NAME %><br />
    <%= f.text_field :NAME %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', users_path %>
