<p>
  <b>User login id:</b>
  <%=h @user.USER_LOGIN_ID %>
</p>

<p>
  <b>Login:</b>
  <%=h @user.LOGIN %>
</p>

<p>
  <b>Descr:</b>
  <%=h @user.DESCR %>
</p>

<p>
  <b>User permissions:</b>
  <%=h @user.USER_PERMISSIONS %>
</p>

<p>
  <b>To delete:</b>
  <%=h @user.TO_DELETE %>
</p>

<p>
  <b>Primary group id:</b>
  <%=h @user.PRIMARY_GROUP_ID %>
</p>

<p>
  <b>Creator id:</b>
  <%=h @user.CREATOR_ID %>
</p>

<p>
  <b>Time created:</b>
  <%=h @user.TIME_CREATED %>
</p>

<p>
  <b>Name:</b>
  <%=h @user.NAME %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
