<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>MetaXpress: Plates <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'compiled/screen' %>
</head>
<body>
	<div id="page">
		
		<div id="main_content">
			<p style="color: green"><%= flash[:notice] %></p>
		
		  <%= yield %>
		</div>
  </div>
</body>
</html>
