<h1>Listing file_locations</h1>

<table>
  <tr>
    <th>Location id</th>
    <th>Server name</th>
    <th>Server root</th>
    <th>Server port</th>
    <th>Directory</th>
    <th>Location type</th>
  </tr>

<% @file_locations.each do |file_location| %>
  <tr>
    <td><%=h file_location.LOCATION_ID %></td>
    <td><%=h file_location.SERVER_NAME %></td>
    <td><%=h file_location.SERVER_ROOT %></td>
    <td><%=h file_location.SERVER_PORT %></td>
    <td><%=h file_location.DIRECTORY %></td>
    <td><%=h file_location.LOCATION_TYPE %></td>
    <td><%= link_to 'Show', file_location %></td>
    <td><%= link_to 'Edit', edit_file_location_path(file_location) %></td>
    <td><%= link_to 'Destroy', file_location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New file_location', new_file_location_path %>