<h1>New file_location</h1>

<% form_for(@file_location) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :LOCATION_ID %><br />
    <%= f.text_field :LOCATION_ID %>
  </p>
  <p>
    <%= f.label :SERVER_NAME %><br />
    <%= f.text_field :SERVER_NAME %>
  </p>
  <p>
    <%= f.label :SERVER_ROOT %><br />
    <%= f.text_field :SERVER_ROOT %>
  </p>
  <p>
    <%= f.label :SERVER_PORT %><br />
    <%= f.text_field :SERVER_PORT %>
  </p>
  <p>
    <%= f.label :DIRECTORY %><br />
    <%= f.text_field :DIRECTORY %>
  </p>
  <p>
    <%= f.label :LOCATION_TYPE %><br />
    <%= f.text_field :LOCATION_TYPE %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', file_locations_path %>