<p>
  <b>Location id:</b>
  <%=h @file_location.LOCATION_ID %>
</p>

<p>
  <b>Server name:</b>
  <%=h @file_location.SERVER_NAME %>
</p>

<p>
  <b>Server root:</b>
  <%=h @file_location.SERVER_ROOT %>
</p>

<p>
  <b>Server port:</b>
  <%=h @file_location.SERVER_PORT %>
</p>

<p>
  <b>Directory:</b>
  <%=h @file_location.DIRECTORY %>
</p>

<p>
  <b>Location type:</b>
  <%=h @file_location.LOCATION_TYPE %>
</p>


<%= link_to 'Edit', edit_file_location_path(@file_location) %> |
<%= link_to 'Back', file_locations_path %>