<h1>Listing image_sources</h1>

<table>
  <tr>
    <th>Image source id</th>
    <th>Acq id</th>
    <th>Assay id</th>
    <th>Source description</th>
    <th>Source illumination</th>
  </tr>

<% @image_sources.each do |image_source| %>
  <tr>
    <td><%=h image_source.IMAGE_SOURCE_ID %></td>
    <td><%=h image_source.ACQ_ID %></td>
    <td><%=h image_source.ASSAY_ID %></td>
    <td><%=h image_source.SOURCE_DESCRIPTION %></td>
    <td><%=h image_source.SOURCE_ILLUMINATION %></td>
    <td><%= link_to 'Show', image_source %></td>
    <td><%= link_to 'Edit', edit_image_source_path(image_source) %></td>
    <td><%= link_to 'Destroy', image_source, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New image_source', new_image_source_path %>