<h1>New image_source</h1>

<% form_for(@image_source) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :IMAGE_SOURCE_ID %><br />
    <%= f.text_field :IMAGE_SOURCE_ID %>
  </p>
  <p>
    <%= f.label :ACQ_ID %><br />
    <%= f.text_field :ACQ_ID %>
  </p>
  <p>
    <%= f.label :ASSAY_ID %><br />
    <%= f.text_field :ASSAY_ID %>
  </p>
  <p>
    <%= f.label :SOURCE_DESCRIPTION %><br />
    <%= f.text_area :SOURCE_DESCRIPTION %>
  </p>
  <p>
    <%= f.label :SOURCE_ILLUMINATION %><br />
    <%= f.text_area :SOURCE_ILLUMINATION %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', image_sources_path %>