<p>
  <b>Image source id:</b>
  <%=h @image_source.IMAGE_SOURCE_ID %>
</p>

<p>
  <b>Acq id:</b>
  <%=h @image_source.ACQ_ID %>
</p>

<p>
  <b>Assay id:</b>
  <%=h @image_source.ASSAY_ID %>
</p>

<p>
  <b>Source description:</b>
  <%=h @image_source.SOURCE_DESCRIPTION %>
</p>

<p>
  <b>Source illumination:</b>
  <%=h @image_source.SOURCE_ILLUMINATION %>
</p>


<%= link_to 'Edit', edit_image_source_path(@image_source) %> |
<%= link_to 'Back', image_sources_path %>