// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset

// To configure blueprint, edit the partials/base.sass file.
@import partials/base

// Import all the default blueprint modules so that we can access their mixins.
@import blueprint

// Import the non-default scaffolding module.
//@import blueprint/scaffolding

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.

//import support for css3 goodies
@import compass/css3

// VARIABLES
$basis-color: #ccc // set the basis color other value are derived from
$link-color: #4C5260//#1A1E44//#393B55
$gen-bg-color: #fff
$error-red: #FF5255
$bg-trans-image: ('/images/1px_70trans.png')
$title-color: #4c5260
$white: #ffffff
$blue: #384B97
$gray: #ccc
$black: #000000
$red: $error-red
$green: #46973C
$gray_green: #C1CCC1
  
// MIXINS
=border-white3
  border: 3px solid $white
=border-red
  border: 1px solid $red
=border-green
  border: 1px solid $green
=border-gray_green
  border: 1px solid $gray_green
=border-blue
  border: 1px solid $blue
=border-gray
  border: 1px solid $gray
=border-black
  border: 1px solid $black
=border-color($color)
  border: 1px solid $color
=blue_h5_header
  font-weight: bold
  font-size: 1.1em
  margin: 0px 0px 5px 5px
  color: darken($blue, 5%)
  
    

//general css classes
.left
  float: left
.right
  float: right
.justified
  text-align: justify
.center
  text-align: center
.clear
  clear: both
  height: 0
  overflow: hidden
.hidden
  display: none
.spacer
  min-height: 20px
  +border-green

    
// Forms
form
  +blueprint-form

// general html tags definitions  
body
  +blueprint-typography(true)
  +blueprint-utilities
  //+blueprint-debug
  +blueprint-interaction
  background: #f1f1f1
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif
  font-size: 14px
  h1
    font-size: 2.5em
    margin: 10px 0px
    color: darken($title-color, 20%)


#page
  margin: 13px auto
  width: 1062px
  
  #header
    padding: 20px 20px 0px 20px
    margin: 0px 0px 10px 0px
    background: url('/images/1px_90trans.png') repeat//#FFF
    width: 1022px
    float: left
    border: solid 1px darken($basis-color, 20%)
    +box-shadow(#888, 0px, 2px, 10px)
    +border-radius(4px)
    ul.menu
      float: left
      padding: 0px
      li
        float: left
        padding: 0
        margin-right: 20px
        list-style: none
        a
          display: block
    #login_logout
      float: right
      font-size: 0.8em
      
  #main_content
    margin: 0px
    padding: 20px
    background: url('/images/1px_90trans.png') repeat//#FFF
    width: 1022px
    float: left
    border: solid 1px darken($basis-color, 20%)
    +box-shadow(#888, 0px, 2px, 10px)
    +border-radius(4px)
    h1
      font-size: 2.2em
      font-weight: bold
      padding-bottom: 20px
      color: darken($title-color, 15%)
    dl
      +border-gray
      +border-radius(4px)
      float: left
      width: 760px
      margin: 1em 0
      padding: 10px
    dt
      clear: left
      float: left
      width: 200px
      margin: 0
      padding: 5px
      font-weight: bold
    dd
      float: left
      width: 520px
      margin: 0
      padding: 5px
      text-align: justify
    .subgroup
      border: 1px solid $basis-color
      +border-radius(6px)
      padding: 10px
      width: 640px
      margin: 0px 0px 20px 0px
      h5
        +blue_h5_header
    .field
      label
        clear: left
        float: left
        width: 200px
        padding: 5px
        font-weight: bold
      input
        float: left
        padding: 5px
        width: 530px
      input[type="text"]
        width: 390px        
      input[type="password"]
        width: 390px
      input[type="file"]
        width: 390px
      select
        width: 195px
        padding: 3px 0px 3px 3px
      input.existing_attachment
        width: 235px
      p
        float: left
        vertical-align: middle
      p.remove_link
        padding: 8px 0px 0px 5px
        margin-left: 50px
      .link
        float: right
        position: relative
        margin-top: -30px
        padding-right: 50px
      .check_box_collection
        width: 400px
        float: right
        margin: 1px 25px 0px 0px
        p.checkbox
          width: 120px
      .new_file_field
        margin: 10px 0px 0px 0px
      img.ui-datepicker-trigger
        margin: 12px 5px 5px 5px
    .show
      +border-gray_green
      +border-radius(6px)
      +box-shadow(#888, 0px, 0px, 2px)
      margin: 0px 0px 20px 0px
      padding: 10px 5px
      h5
        +blue_h5_header
      img.light_box
        +border-white3
        +border-radius(3px)
        margin: 0px 10px 0px 0px
        padding: 0px
        +box-shadow(#000, 0px, 0px, 2px)
      #datafile_wrapper
        width: 500px
        #thumbnail
          float: left
          width: 100px
          margin-bottom: 5px
        #download_link
          float: left
        p.file_info
          font-size: 0.8em
          font-style: oblique

// error and notice styling
div.flash
  padding: 10px
  margin: 10px 0px
  +border-radius(6px)
  width: 600px

#flash_notice, #flash_error
  padding: 5px 8px
  margin: 10px 0

#flash_notice
  background-color: #CFC
  border: solid 1px #6C6

#flash_error
  background-color: #FCC
  border: solid 1px #C66

.fieldWithErrors
  display: inline

#plates
  table
    +border-gray 
    width: 95%
    padding: 10px
    margin: 20px
    +border-radius(6px)
    
    tr.header
      background-color: darken(#ccc, 20%)

      