<div id="plates">
  <h1>Plates</h1>
	<table>
	  <tr class="header">
	    <th>Plate id</th>
	    <th class="center">Columns (X wells)</th>
	    <th class="center">Rows (Y wells)</th>
	    <th>Plate MDCS5</th>
	    <th>Time created</th>
			<th colspan="3">Actions</th>
	  </tr>
	
	<% @plates.each do |plate| %>
	  <tr>
	    <td><%=h plate.PLATE_ID %></td>
	    <td class="center"><%=h plate.X_WELLS %></td>
	    <td class="center"><%=h plate.Y_WELLS %></td>
	    <td><%=h plate.plate_property.mdcs5 %></td>
	    <td><%=h plate.TIME_CREATED.strftime("%Y-%m-%d, %H:%M") %></td>
	    <td><%= link_to 'Show', plate %></td>
	    <td><%= link_to 'Edit', edit_plate_path(plate) %></td>
	    <td><%= link_to 'Destroy', plate, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>
	
	<br />
	
	<%= link_to 'New plate', new_plate_path %>

</div>