<h1>New plate</h1>

<% form_for(@plate) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :PLATE_ID %><br />
    <%= f.text_field :PLATE_ID %>
  </p>
  <p>
    <%= f.label :BATCH_ID %><br />
    <%= f.text_field :BATCH_ID %>
  </p>
  <p>
    <%= f.label :ACQ_ID %><br />
    <%= f.text_field :ACQ_ID %>
  </p>
  <p>
    <%= f.label :X_WELLS %><br />
    <%= f.text_field :X_WELLS %>
  </p>
  <p>
    <%= f.label :Y_WELLS %><br />
    <%= f.text_field :Y_WELLS %>
  </p>
  <p>
    <%= f.label :BARCODE %><br />
    <%= f.text_field :BARCODE %>
  </p>
  <p>
    <%= f.label :GLOBAL_ID %><br />
    <%= f.text_field :GLOBAL_ID %>
  </p>
  <p>
    <%= f.label :PLATE_NAME %><br />
    <%= f.text_field :PLATE_NAME %>
  </p>
  <p>
    <%= f.label :PLATE_DESCRIPTION %><br />
    <%= f.text_area :PLATE_DESCRIPTION %>
  </p>
  <p>
    <%= f.label :TIME_CREATED %><br />
    <%= f.datetime_select :TIME_CREATED %>
  </p>
  <p>
    <%= f.label :CREATOR_ID %><br />
    <%= f.text_field :CREATOR_ID %>
  </p>
  <p>
    <%= f.label :TIME_MODIFIED %><br />
    <%= f.datetime_select :TIME_MODIFIED %>
  </p>
  <p>
    <%= f.label :MODIFIER_ID %><br />
    <%= f.text_field :MODIFIER_ID %>
  </p>
  <p>
    <%= f.label :TO_DELETE %><br />
    <%= f.text_field :TO_DELETE %>
  </p>
  <p>
    <%= f.label :ANNOTATED_BY %><br />
    <%= f.text_field :ANNOTATED_BY %>
  </p>
  <p>
    <%= f.label :TIME_ANNOTATED %><br />
    <%= f.datetime_select :TIME_ANNOTATED %>
  </p>
  <p>
    <%= f.label :ARCH_GLOBALID %><br />
    <%= f.text_field :ARCH_GLOBALID %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', plates_path %>