<p>
  <b>Plate id:</b>
  <%=h @plate.PLATE_ID %>
</p>

<p>
  <b>Batch id:</b>
  <%=h @plate.BATCH_ID %>
</p>

<p>
  <b>Acq id:</b>
  <%=h @plate.ACQ_ID %>
</p>

<p>
  <b>X wells:</b>
  <%=h @plate.X_WELLS %>
</p>

<p>
  <b>Y wells:</b>
  <%=h @plate.Y_WELLS %>
</p>

<p>
  <b>Barcode:</b>
  <%=h @plate.BARCODE %>
</p>

<p>
  <b>Global id:</b>
  <%=h @plate.GLOBAL_ID %>
</p>

<p>
  <b>Plate name:</b>
  <%=h @plate.PLATE_NAME %>
</p>

<p>
  <b>Plate description:</b>
  <%=h @plate.PLATE_DESCRIPTION %>
</p>

<p>
  <b>Time created:</b>
  <%=h @plate.TIME_CREATED %>
</p>

<p>
  <b>Creator id:</b>
  <%=h @plate.CREATOR_ID %>
</p>

<p>
  <b>Time modified:</b>
  <%=h @plate.TIME_MODIFIED %>
</p>

<p>
  <b>Modifier id:</b>
  <%=h @plate.MODIFIER_ID %>
</p>

<p>
  <b>To delete:</b>
  <%=h @plate.TO_DELETE %>
</p>

<p>
  <b>Annotated by:</b>
  <%=h @plate.ANNOTATED_BY %>
</p>

<p>
  <b>Time annotated:</b>
  <%=h @plate.TIME_ANNOTATED %>
</p>

<p>
  <b>Arch globalid:</b>
  <%=h @plate.ARCH_GLOBALID %>
</p>


<%= link_to 'Edit', edit_plate_path(@plate) %> |
<%= link_to 'Back', plates_path %>